In [338]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [339]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [340]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [341]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [342]:
train_data = train_data.fillna(0)

In [343]:
train_data['Embarked'].unique()

array(['S', 'C', 'Q', 0], dtype=object)

In [344]:
train_data.replace('C',1, inplace=True)
train_data.replace('Q',2, inplace=True)
train_data.replace('S',3, inplace=True)

In [345]:
train_data.drop(['PassengerId'], 1, inplace=True)

In [346]:
train_data['Embarked'].unique()

array([3, 1, 2, 0], dtype=int64)

In [353]:
features = ['Pclass','Sex','SibSp','Parch']

In [354]:
X_train = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])
y_train = train_data['Survived']

In [355]:
clf = LinearRegression(n_jobs=1)

In [356]:
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [357]:
y_test = clf.predict(X_test)

In [358]:
accuracy = clf.score(X_test, y_test)
print (accuracy)

1.0

In [359]:
output = pd.DataFrame({'PassengerId':test_data.PassengerId, 'Survived':y_test})

In [360]:
output.head()

   PassengerId  Survived
0          892  0.109792
1          893  0.608790
2          894  0.263507
3          895  0.109792
4          896  0.600940

In [361]:
output.to_csv('my_submission.csv', index=False, header=True)

In [ ]:
20602 SCAMP Assesment